{% extends 'base.html' %}
{% block title %} Article Detail {% endblock title %}

{% block content%}
<div class="container p-3">
  <div class="card">
    <div class="card-body">
      {% if object.photo %}
        <img class="card-img-top" src="{{object.photo.url}}" alt="{{object.title}}">
      {% endif %}
      <br><br>
      <b class="card-title">{{object.title}}</b>
      <br>
      <h6 class="card-subtitle mb-2 text-muted">
        Author: {{object.author}} | {{object.date}}
      </h6>
      <p class="card-text">
        {{object.body|safe}}
      </p>
      <a href="{% url 'article_edit' article.pk %}">Edit</a> |
      <a href="{% url 'article_delete' article.pk %}">Delete</a> | 
      <a href="{% url 'article_list' %}">All post</a>
    </div>
  </div>
</div>
{% endblock content %}